{% extends 'base.html' %}
{% block title %}Тестовое задание{% endblock %}
{% block content %}
    <textarea rows="80" cols="90" name="first" readonly="True">
        {% for task in task_list %}
 дата {{ task.start_time|date:"d.m.Y h:m:s"}}: {{ task.url }} - {{ task.report }}
        {% endfor %}
    </textarea>

    <textarea rows="80" cols="90" name="second" readonly="True">
        {% for task in task_list %}
 {{ task.url }} {% if task.title or task.code or task.header %}-{% endif %}
            {% if task.title %}Title: {{ task.title }}{% endif %}
            {% if task.code %}Encode: {{ task.code }} {% endif %}
            {% if task.header %}Header: {{ task.header }}{% endif %}
        {% endfor %}
    </textarea>
{% endblock %}